@use './variables' as *;

#logo{
    padding:1em;
    margin: 0 auto;
    text-align:center;
    font-size:2em;
    }
    #slogan{
    padding:1em;
    margin: 0 auto;
    text-align:center;
    font-size:1.5em;
    }